/* Dow page
==================================================*/

#dow{
    .top-bar {
        color: #fff;
        background:#fff;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
}