/* Itaú page
==================================================*/

#itau{
    .top-bar {
        color: #fff;
        background-image:url(../../../assets/img/portfolio/project/itau/itau_game_cover.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
}
