/* Rockout page
==================================================*/

#rockout{
    .top-bar {
        color: #fff;
        background-image:url(../../../assets/img/portfolio/project/rockout/rockout-cover.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
}