/* Escarlate page
==================================================*/

#escarlate{
    .top-bar {
        color: #fff;
        background-image:url(../../../assets/img/portfolio/project/escarlate/escarlate-cover.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
}