/* Cepera page
==================================================*/

#cepera{
    .top-bar {
        color: #fff;
        background-image:url(../../../assets/img/portfolio/project/cepera-timeline/cepera-timeline-cover.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
}
