/* footer
==================================================*/

footer {
    padding: 64px 0;
    text-align: center;
    background: #fff;
    
    footer img {
        margin: 0 auto;
    }
    .col{
        .copyright {
            color: #262A26;
            margin-bottom: 0;
            text-align: center;
            line-height: 2.5rem;
            font-size: 14px;
        }
        .box-social{
            display: inline;
            font-size: 24px;
            // margin-left: 16px;
        }
        a{
            color: #182028;
        }
        a:hover{
            color: #6c757d;
        }
        ul{
            text-align: center !important;
        }
        li:first-of-type{
            padding-left: 0px;
        }
    }
}



@media only screen and (max-width: 520px) {
    
    footer {
        padding: 24px 0 !important;
        
        .col{
            .copyright {
                color: #262A26;
                margin-bottom: 0;
                text-align: center !important;
                line-height: 1.5rem;
                font-size: 14px;
            }
            .box-social{
                float: unset !important;
            }
        }
    }
}