/* logos page
==================================================*/

#aprimoralimento{
    .top-bar {
        color: #fff;
        background-image:url(../../img/portfolio/project/aprimoralimento/aprimoralimento-cover.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        text-align: center;
    }
}
